body {
    background: rgb(86, 172, 112);
    margin: auto;
}

#titulo {
    text-align: center;
    background: rgb(46, 199, 46);
    font-family: 'Roboto', sans-serif;
}

#perfil {
    border-radius: 50%;
    position: relative;
    text-align: center;
    margin-left: 550px;
    margin-top: 20px;
}

#informacion {
    text-align: center;
    left: 210px;
    position: relative;
    background-color: rgb(87, 109, 72);
    padding: 40px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 500px;
    font-family: 'Roboto', sans-serif;
}
 
#instruccion {
    color: white;
}

#botones {
    text-align: center;
    background-color: rgb(57, 136, 11);
    margin-top: 50px;
    font-family:'Roboto', sans-serif;
    padding: 30px;
    background: rgb(57, 136, 11);
}